{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block membership %}active{% endblock %}

{% block css %}
    <style>

 .col-md-12 >    ul{

     list-style: disc; !important;
         padding-left:18px;
     padding-right: 18px;
         color:  rgb(0,32,96);;
}

 .description ul{


         padding-left:18px;
     padding-right: 18px;

}


 .col-md-12 > ol{
      list-style: decimal; !important;
     padding-left: 18px;
      padding-right: 18px;
     color: rgb(0,32,96);
 }
     p,span{
         font-family:'Open Sans', sans-serif;
            font-size: 15px;
            {#color: rgb(0,32,96);#}
         margin: 0!important;

    }
          td > span,p{
                       color: white;
          }



    .divider p{
        {#color: rgb(0,32,96);#}
    }

    @media only screen and (max-device-width: 750px) {
         .image img {
              height: 300px;
          }

         }

     @media only screen and (max-width:1024px) and (min-width:750px) {
         .image img {
              height: 300px;

          }
     }

    .fr-fic{
            image-rendering: -webkit-optimize-contrast;"
    }



    </style>
{% endblock %}

{% block title %}{{ aboutus.title}}{% endblock %}

{% block content %}

    <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
{#    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="{{ slider.image1.url}}">#}
{#      <div class="container pt-90 pb-50">#}
{#        <!-- Section Content -->#}
{#        <div class="section-content pt-100">#}
{#          <div class="row">#}
{#            <div class="col-md-8">#}
{#              <h3 class="title text-white">{{ aboutus.title }}</h3>#}
{#            </div>#}
{#              <div class="col-sm-4">#}
{#              <ol class="breadcrumb white mt-10 text-right xs-text-center">#}
{#                <li><a style="color: lightgrey" href="{% url 'fweanapp:indexpage' %}">Home</a></li>#}
{##}
{#                <li class="active">{{ aboutus.title }}</li>#}
{#              </ol>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}


       <section class="divider parallax layer-overlay overlay-deep"  data-stellar-background-ratio="0.5">

        <div class="row text-justify">
           <section>
      <div class="container pt-10">
           <div class="breadcrumb"><a href="{% url 'fweanapp:indexpage' %}"><span class="font-13"><b>Home |</b></span></a> <span class="font-13"><b>Membership |</b></span>  <span class="font-13"><b>{{ membershipcontents.title }} </b></span>   </div>
            <div class="row ml-20 text-sm-center text-xs-center">
          <h3 class="  mb-30"><b>{{ membershipcontents.title }}</b></h3>
                </div>
        <div class="row container-fluid">

         {% if membershipcontents.image %}

          <div  class="image  mt-md-30  col-md-3 ml-xs-50 ml-sm-200    mx-auto text-center hvr-float-shadow ">



            <img style="object-fit: cover;" class=" image mr-15  m-sm-5 h-50 " src="{{ membershipcontents.image.url}}" alt="">

          </div>
        {% endif %}

{#        <div class="row container-fluid">#}

          <div class=" {% if membershipcontents.image %} col-md-9 {% else %} col-md-12 col-lg-12 {% endif %} description ">

            <p>{{ membershipcontents.description|safe }}</p>

            </div>
        </div>
{#        </div>#}
      </div>
    </section>
  </div>

  <!-- end main-content -->


    </section>



{% endblock %}

{% block js %}
<script>
  {#$("span").removeAttr("style");#}

{#  var element1 = document.getElementsByClassName('introduction')#}
{#element1.style.background = "red";#}


  {#var element = $("p")#}
  {#element.removeAttr("style");#}

    </script>

    {% endblock %}
