
{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block ourhelpinghands %}active{% endblock %}
{% block title %}Donors{% endblock %}


{% block css %}
    <style>

    HTML CSSResult Skip Results Iframe
EDIT ON
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
      {#background: #835483;#}
  /* fallback for old browsers */
  {#background: -webkit-linear-gradient(to right, #0575E6,#835483);#}
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, lightgrey, lightgrey    );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  background-position: center;
  background-size: cover;
}
.mt30 {
  margin-top: 30px;
}
.wrapper {
  margin: 0 auto 100px auto;
  max-width: 960px;
}
.stage {
  list-style: none;
  padding: 0;
}

/* uild the scene and rotate on hover */

.scene {
  width: 245px;
  height: 200px;
  margin: 10px;
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
    .movie {
      width: 260px;
      {#height: 400px;#}
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(-130px);
      -moz-transform: translateZ(-130px);
      transform: translateZ(-130px);
      -webkit-transition: -webkit-transform 350ms;
      -moz-transition: -moz-transform 350ms;
      transition: transform 350ms;
    }


/* Transform and style the two planes */

.movie .poster, .movie .info {
  position: absolute;
  width: 220px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  

}
.movie .poster {
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* Media Queries */
@media screen and (max-width: 60.75em) {
  .scene {
    float: none;
    {#margin: 30px auto 60px;#}
  }
}


    </style>
{% endblock %}
{% block content %}

 <!-- Section: inner-header -->
{#    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="{{ slider.image1.url}}">#}
{#      <div class="container pt-100 pb-50">#}
{#        <!-- Section Content -->#}
{#        <div class="section-content pt-100">#}
{#          <div class="row">#}
{#            <div class="col-md-8">#}
{#              <h3 class="title text-white">Our Donors</h3>#}
{#            </div>#}
{#               <div class="col-sm-4">#}
{#              <ol class="breadcrumb white mt-10 text-right xs-text-center">#}
{#                <li><a style="color: lightgrey" href="{% url 'fweanapp:indexpage' %}">Home</a></li>#}
{##}
{#                <li class="active">Donors</li>#}
{##}
{#              </ol>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}

<div class="container mt-10">
<div class="breadcrumb"><a href="{% url 'fweanapp:indexpage' %}"><span class="font-13"><b>Home |</b></span></a>  <span class="font-13"><b>Donors</b></span></div>
  <div class="wrapper ">
        <h3 class="text-center text-uppercase"><b>DONORS</b></h3>
    <ul class="stage clearfix ">


        {% for donor in donor_list_datewise %}

            <div style="display: flex;
  justify-content: center;"  class=" col-lg-3 col-sm-4 pb-0   col-md-4 container ">

            <a style="display: flex;
            justify-content: center;" href="{{donor.link}}" target="_blank">
         <li class="hvr-grow  scene">
        <div class="movie" onlclick="returntrue">
             <div style="display: flex;
             justify-content: center;" class="">
             <p class="paragraph-color" style=" font-size: 13pt; "><b>{{ donor.title }}</b></p>
         </div>
          <div style="background-image: url({{ donor.logo.url }}); image-rendering: -webkit-optimize-contrast;  " class="poster">

          </div>



        </div>

      </li>

            </a>
            </div>


          {% endfor %}


    </ul>
{#  <div class="col-md-12 text-center ">#}
{#                {% if is_paginated %}#}
{#                    <ul class="pagination theme-colored">#}
{#                    {% if page_obj.has_previous %}#}
{#                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>#}
{#                    {% else %}#}
{#                      <li class="disabled"><span>&laquo;</span></li>#}
{#                    {% endif %}#}
{#                    {% for i in paginator.page_range %}#}
{#                      {% if page_obj.number == i %}#}
{#                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                      {% else %}#}
{#                        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                      {% endif %}#}
{#                    {% endfor %}#}
{#                    {% if page_obj.has_next %}#}
{#                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>#}
{#                    {% else %}#}
{#                      <li class="disabled"><span>&raquo;</span></li>#}
{#                    {% endif %}#}
{#                  </ul>#}
{#                {% endif %}#}
{#            </div>#}
  </div>
</div>




{% endblock %}