{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block profile %}active {% endblock %}
{% block passwordupdate %}active{% endblock %}

{% block title %}Password Change{% endblock %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">

          <h4 class="card-title">Change Admin Password</h4>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-6">
          
              <label for="id_current_password" class="text-dark">Current password:</label>
              {{form.current_password}}
            </div>
            </div><br>
            <div class="row">
              <div class="col-md-6">
            
              <label for="id_current_password" class=" text-dark">New password:</label>
              {{form.new_password}}
            </div>
            <div class="col-md-6">
            
              <label for="id_current_password" class="text-dark">Confirm new password:</label>
              {{form.confirm_new_password}}
            </div>
          </div><br>
            
            {% if form.errors %} 
            <div class="row">
              <div class="col-md-12 mx-auto">
                <ul style="list-style: none;">
                  {% for error in form.non_field_errors %}
                  <li class="py-1 px-2 text-danger">
                    {{error}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            {% if error %}
            <div class="row">
              <div class="col-md-12 mx-auto">
                <ul style="list-style: none;">
                  <li class="py-1 px-2 text-danger">
                    {{error}}
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
          <div class=" text-center">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
              </div>
          </form>
        </div><!-- end content-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
