{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block css %}




{% endblock %}

{% block content %}


        <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="card container-fluid">

                            <form class="row g-3 mt-2 mb-5" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="unde">Publish Comments</h3>

                                     <div class="col-md-12">
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    </div>

                            <div class="row">

                                <div class="col-md-12">
                                <label for="inputCity" class="form-label">Publish</label>
                                 {{ form.publish }}
                              </div>


                              <div class="col-12 text-center">
                                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                              </div>
                            </form>
                        </div>


                    </div>

                </div>



{% endblock %}

{% block js %}


{% endblock %}