{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'adminstatic/base/assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h3 class="page-title">Album ({{ albumdetail.title }}) detail</h3>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Album Thumbnail:</h4>
                                <hr>



                                 <div class="row el-element-overlay">

                    <div class="col-lg-3 offset-4 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img  src="{{albumdetail.image.url}}"
                                        alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a
                                                    class="btn default btn-outline image-popup-vertical-fit el-link"
                                                    href="{{albumdetail.image.url}}"><i
                                                        class="mdi mdi-magnify-plus"></i></a></li>
{#                                            <li class="el-item"><a class="btn default btn-outline el-link"#}
{#                                                    href="javascript:void(0);"><i class="mdi mdi-link"></i></a></li>#}


                                        </ul>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>


                     <div class="card-action">
                         <hr>
                           <h5> Album Title:  "{{ albumdetail.title }}" </h5>
                         <hr>

                        </div>
                        <div class="card-action">
                           <h5>Description:</h5>  {{ albumdetail.description }}
                            <hr>
                        </div>
                        </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="container-fluid">
                <h4>
                    Images on this album <a href="{% url 'fweanapp:adminimagealbumupdate' albumdetail.id %}"><div class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-circle">&#xE147;</i> <span>Add images</span></div></a>
                </h4>
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row el-element-overlay mt-4">
                     {% for imagemedia in imagemedias %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img style="height: 200px; object-fit: cover;"  src="{{imagemedia.image.url}}"
                                        alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a
                                                    class="btn default btn-outline image-popup-vertical-fit el-link"
                                                    href="{{imagemedia.image.url}}"><i
                                                        class="mdi mdi-magnify-plus"></i></a></li>
{#                                            <li class="el-item"><a class="btn default btn-outline el-link"#}
{#                                                    href="javascript:void(0);"><i class="mdi mdi-link"></i></a></li>#}
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    {% if imagemedia.title %}
                                    <h4 class="mb-0">{{ imagemedia.title}}</h4>
                                     {% endif %}
                                </div>
                            <td><a onclick="return confirm('Are you sure you want to delete this item?');" class="demo btn btn-sm btn-danger" href="{% url 'fweanapp:adminimagemediadelete' imagemedia.id %}">Delete </a></td>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->




{% endblock %}

{% block js %}
{% endblock %}