{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'adminstatic/base/assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h3 class="page-title"> ({{ successstoriesdetail.title }}) detail</h3>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                               
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->


                   <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h3 class="card-title">Image:</h3>
                                <hr>



                                 <div class="row el-element-overlay">

                  {% if successstoriesdetail.image1 %}


                    <div class="col-lg-3  col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img  src="{{successstoriesdetail.image1.url}}"
                                        alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a
                                                    class="btn default btn-outline image-popup-vertical-fit el-link"
                                                    href="{{successstoriesdetail.image1.url}}"><i
                                                        class="mdi mdi-magnify-plus"></i></a></li>
{#                                            <li class="el-item"><a class="btn default btn-outline el-link"#}
{#                                                    href="javascript:void(0);"><i class="mdi mdi-link"></i></a></li>#}


                                        </ul>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    {% endif %} {% if successstoriesdetail.image2 %}


                    <div class="col-lg-3  col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img  src="{{successstoriesdetail.image2.url}}"
                                        alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a
                                                    class="btn default btn-outline image-popup-vertical-fit el-link"
                                                    href="{{successstoriesdetail.image2.url}}"><i
                                                        class="mdi mdi-magnify-plus"></i></a></li>
{#                                            <li class="el-item"><a class="btn default btn-outline el-link"#}
{#                                                    href="javascript:void(0);"><i class="mdi mdi-link"></i></a></li>#}


                                        </ul>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    {% endif %} {% if successstoriesdetail.image3 %}


                    <div class="col-lg-3  col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img  src="{{successstoriesdetail.image3.url}}"
                                        alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item"><a
                                                    class="btn default btn-outline image-popup-vertical-fit el-link"
                                                    href="{{successstoriesdetail.image3.url}}"><i
                                                        class="mdi mdi-magnify-plus"></i></a></li>
{#                                            <li class="el-item"><a class="btn default btn-outline el-link"#}
{#                                                    href="javascript:void(0);"><i class="mdi mdi-link"></i></a></li>#}


                                        </ul>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    {% endif %}


                     <div class="card-action">
                         <hr>
                           <h5> Title:  "{{ successstoriesdetail.title }}" </h5>
                         <hr>

                        </div>
                        <div class="card-action">
                           <h5>Description:</h5>  {{ successstoriesdetail.description|safe }}
                            <hr>
                        </div>

                        </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>



            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->




{% endblock %}

{% block js %}
{% endblock %}